:root {
  --primary: #d81e5b;
  --secondary: #8a4fff;
  --grey: #aaa;
  --light: #eee;
  --dark: #131a26;
  --toggle-light: hsl(230, 22%, 74%);
  --toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
}

* {
  margin: 0;
  box-sizing: border-box;

  font-family: 'Fira sans', sans-serif;
}

body {
  background: var(--main-background);
  color: var(--main-font);
}

h1,
h2 {
  color: var(--dark);
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

section {
  padding: 50px 0;
  text-align: center;
}

p {
  color: var(--grey);
  font-style: italic;
  margin-bottom: 2rem;
}

/* components */

.task-title {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  text-decoration: underline;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0px 40px;
}

.module-title {
  text-align: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default html checkbox */
.switch input {
  opacity: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-light);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 32px;
  bottom: 5px;
  background-color: #fff;
  transition: 0.4s;
}
input:checked + .slider {
  background: linear-gradient(90grad, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

input:checked + .slider:before {
  transform: translateX(-24px);
}
.slider,
.round {
  border-radius: 34px;
}

.round::before {
  border-radius: 50%;
}

input:checked + .round::before {
  background-color: hsl(230, 17%, 14%);
}
/* /THEME/ */
.dark {
  --main-background: hsl(230, 17%, 14%);
  --main-font: white;
}

.light {
  --main-background: white;
  --main-font: hsl(230, 17%, 14%);
}

.toggle-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.toggle-switch p {
  padding: 1em;
}
body.dark h2 {
  color: #f2f2f2;
}
